@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #eff2f5;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    user-select: none;
}

/*---------header_left-------------*/

.header_left img{
    height: 40px;
    width: 42px;
    margin-right: 10px;
    cursor: pointer;
}
.header_left{
    padding: 0;
    display: flex;
    flex: .5;
    justify-content: flex-start;
    align-items: center;
}
.header_input input{
    width: 250px;
    border: none;
    text-align: start;
    text-indent: 40px;
    background-color: #eff2f5;
    height: 40px;
    padding-left: 7px;
    padding-right: 15px;
    outline: none;
    border-radius: 999px;
    user-select: all;
}
.header_input{
    position: relative;
}
.header_left span{
    color: gray;
    position: absolute;
    top: 9px;
    left: 15px;
}

/*---------header_center-------------*/

.header_center{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
}
.header_option .material-icons{
    font-size: 35px;
    color: gray;
}
.header_option i{
    font-size: 30px;
    color: gray;
}
.header_option{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0 15px;
    padding: 7px 25px;
}
.header_option p{
    position: absolute;
    bottom: -40px;
    color: white;
    font-size: small;
    border-radius: 4px;
    background-color: black;
    padding: 4px 6px;
    margin-top: 2px;
    transition: ease;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.header_option.active .material-icons{
    color: #276bea;
}
.header_option.active{
    border-bottom: 3px solid #276bea;
}
.header_option.active:hover{
    border-radius: 0;
    background-color: transparent;
}
.header_option:hover .material-icons,
.header_option:hover i{
    color: #276bea;  
}
.header_option:hover{
    background-color: #eff2f5;
    cursor: pointer;
    border-radius: 6px;    
}
.header_option:hover p{
    opacity: 1;
}

/*---------header_right-------------*/

.header_right{
    display: flex;
    flex: .5;
    justify-content: space-evenly;
    align-items: center;
}
.header_right_option,
.header_right_account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.header_right_option p,
.header_right_account p{
    position: absolute;
    bottom: -45px;
    color: white;
    font-size: small;
    border-radius: 4px;
    background-color: black;
    padding: 4px 6px;
    margin-top: 2px;
    transition: ease;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.header_right_option{
    background-color: #eff2f5;
    border-radius: 50%;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 20px;
    font-size: 25px;
    margin: 0 10px;
}
.header_right_option h6{
    color: white;
    background-color: red;
    padding: 0 5px;
    font-size: small;
    position: absolute;
    border-radius: 10px;
    top: -8px;
    right: -15px;

}
.header_right_option span{
    font-size: 25px;
}
.header_right_option:hover{
    background-color: #d9dde1;
    cursor: pointer;
}
.header_right_option:hover p,
.header_right_account:hover p{
    opacity: 1;
}
.img_avatar{
    height: 40px;
    width: 40px;
    margin: 0 10px;
}

/*---------main-------------*/
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

main .right_side{
    flex: 1;
    padding: 15px;
    background-color: white;
    height: 620px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    position: sticky;
    top: 75px;
    left: 0;
}
.right_side .head_option{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.right_side .head_option .setting_icon{
    background-color: #eef0f2;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: 5px;
    cursor: pointer;
}
.right_side .head_option .setting_icon:hover{
    background-color: #ced0d1;
}
.right_side .serach_option{
    width: 100%;
    position: relative;
    margin: 10px 0;
}
.right_side .serach_option input{
    width: 100%;
    border: none;
    text-align: start;
    text-indent: 40px;
    background-color: #eff2f5;
    height: 40px;
    padding-left: 7px;
    padding-right: 15px;
    outline: none;
    border-radius: 999px;
    user-select: all;
}
.serach_option span{
    color: gray;
    position: absolute;
    top: 9px;
    left: 15px;
}
.right_side .friends_option{
    margin-top: 20px;
}
.right_side .friends_option .friend_option{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 10px 10px;
    margin: 5px 0;
    border-radius: 10px;
    position: relative;
}
.right_side .friends_option .friend_option.active{
    background-color: #eef0f2;
}
.right_side .friends_option .friend_option:hover{
    background-color: #eef0f2;
    cursor: pointer;
}
.right_side .friends_option .friend_option span{
    height: 40px;
    width: 40px;
    background-color: #cbced1;
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
    display: grid;
    place-items: center;
}

main .left_side{
    flex: 3;
    height: 100%;
    width: 100vw;
    background-color: #f1f1f5;
    display: grid;
    place-items: center;
}
.statuses{
    width: 85%;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; 
}
.statuses .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5px;
}
.statuses .top .info{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.statuses .top .close span{
    padding: 7px;
    margin-right: 10px;
    color: rgb(80, 80, 80);
    border-radius: 50%;
}
.statuses .top .close span:hover{
    background-color: #c9ced2;
    cursor: pointer;
}
.statuses .top .top_info h4{
    font-weight: 500;
}
.statuses .top .top_info p{
    color: gray;
    font-size: 15px;
}
.statuses .top .top_info h4:hover,
.statuses .top .top_info p:hover{
    text-decoration: underline;
}
.statuses .top .top_info p i:hover{
    color: black;
}
.statuses .middle_text{
    padding: 0 20px;
    border-bottom: 1px solid #c9ced2;
}
.statuses .middle_video{
    width: 100%;
}
.statuses .middle_video{
    display: grid;
    place-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #c9ced2;
}
.statuses .bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.statuses .bottom .post_option:active{
    transform: scale(0.95);
}
.statuses .bottom .post_option{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 30px;
    color: rgb(54, 54, 54);
}
.statuses .bottom .post_option:hover{
    cursor: pointer;
    border-radius: 10px;
    background-color: #c9ced2;
}
.statuses .bottom .post_option i{
    padding: 0 10px;
}